body {
  background-color: rgb(248, 250, 252);
}

a {
  text-decoration: none;
}

.bg-body-tertiary {
  backdrop-filter: blur(20px);
  background-color: oklab(0.999994 0.0000455677 0.0000200868 / 0.7) !important;
}
.navbar {
  border-bottom: 0.2px solid rgb(225, 225, 225);
}
.navbar .logo .icon {
  width: 44px;
  height: 44px;
  background: linear-gradient(
    to right bottom,
    oklch(0.541 0.281 293.009) 0%,
    oklch(0.511 0.262 276.966) 100%
  );
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    oklab(0.606 0.096545 -0.230606 / 0.25) 0px 10px 15px -3px,
    oklab(0.606 0.096545 -0.230606 / 0.25) 0px 4px 6px -4px;
}

.navbar .logo h1 {
  font-size: 24px;
  font-weight: 700;
  span {
    color: oklch(0.541 0.281 293.009);
  }
}

.text-gray {
  color: oklch(0.551 0.027 264.364);
}
.navbar .logo p {
  font-size: 12px;
  font-weight: 500;
}

.accent-btn {
  background: linear-gradient(
    to right bottom,
    oklch(0.541 0.281 293.009) 0%,
    oklch(0.511 0.262 276.966) 100%
  );
}

.update-btn {
  background: linear-gradient(
    to right bottom,
    oklch(70.175% 0.19558 42.541) 0%,
    oklch(87.994% 0.1666 97.386) 100%
  );
}

a {
  transition: 0.2s;
  width: 40px;
  height: 40px;
  border-radius: 12px;
}
a:hover {
  background-color: #f3f4f6;
  color: #364153;
}

.navbar .image {
  width: 40px;
  height: 40px;
  border-radius: 12px;
}

.navbar button {
  transition: 0.2s;
}

.navbar button:hover {
  transform: translateY(-3px);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    oklab(0.606 0.096545 -0.230606 / 0.3) 0px 10px 15px -3px,
    oklab(0.606 0.096545 -0.230606 / 0.3) 0px 4px 6px -4px;
}
.state-card {
  background-color: white;
  border: 0.8 solid rgb(243, 244, 246);
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  border-radius: 16px;
  transition: 0.2s;
}
.state-card:hover {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.1) 0px 2px 4px -2px;
}
.state-card .icon {
  width: 48px;
  height: 48px;
}
.favorites-icon {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    oklab(0.769 0.0640531 0.176752 / 0.25) 0px 10px 15px -3px,
    oklab(0.769 0.0640531 0.176752 / 0.25) 0px 4px 6px -4px;
  background: linear-gradient(
    to right bottom,
    oklch(0.828 0.189 84.429) 0%,
    oklch(0.705 0.213 47.604) 100%
  );
}
.emergency-icon {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    oklab(0.645 0.235944 0.0696166 / 0.25) 0px 10px 15px -3px,
    oklab(0.645 0.235944 0.0696166 / 0.25) 0px 4px 6px -4px;
  background: linear-gradient(
    to right bottom,
    oklch(0.645 0.246 16.439) 0%,
    oklch(0.577 0.245 27.325) 100%
  );
}

.col-md-4:nth-child(1) .state-card .icon {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    oklab(0.623 -0.0378409 -0.210628 / 0.25) 0px 10px 15px -3px,
    oklab(0.623 -0.0378409 -0.210628 / 0.25) 0px 4px 6px -4px;
  background: linear-gradient(
    to right bottom,
    oklch(0.623 0.214 259.815) 0%,
    oklch(0.546 0.245 262.881) 100%
  );
}

#searchInput {
  padding: 14px 16px 14px 44px;
  background-color: white;
}
.searchIcon {
  padding-left: 16px;
}
.form-control:focus,
.form-select:focus {
  color: var(--bs-body-color);
  background-color: var(--bs-body-bg);
  border-color: oklch(0.606 0.25 292.717);
  outline: 0;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    oklab(0.606 0.096545 -0.230606 / 0.2) 0px 0px 0px 2px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}
.form-control,
.form-select {
  border-radius: 12px;
  background-color: #f9fafb;
}
.form-select {
  --bs-form-select-bg-img: none;
}

#contacts-section .noContactIcon {
  width: 80px;
  height: 80px;
  background-color: #f3f4f6;
  border-radius: 16px;
}
#contacts-section .noContactIcon i {
  font-size: 30px;
  color: oklch(0.872 0.01 258.338);
}

.noContactFound {
  padding-block: 80px;
}

.favorites-section,
.emergency-section {
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  border-radius: 16px;
  border: 0.8 solid oklch(0.967 0.003 264.542);
  overflow: hidden;
}

.favorites-section .icon,
.emergency-section .icon {
  width: 36px;
  height: 36px;
}
.favorites-sec-bg-color {
  background: linear-gradient(
    to right,
    oklch(0.987 0.022 95.277) 0%,
    oklch(0.98 0.016 73.684) 100%
  );
}

.emergency-sec-bg-color {
  background: linear-gradient(
    to right,
    oklch(0.969 0.015 12.422) 0%,
    oklch(0.971 0.013 17.38) 100%
  );
}

.favorites-sec-bg-color p,
.emergency-sec-bg-color p {
  font-size: 11px;
}
.favorites-sec-bg-color h3,
.emergency-sec-bg-color h3 {
  font-size: 16px;
  font-weight: 600;
}

.emptysectext {
  padding-block: 32px;
}
.sticky-top {
  z-index: 10;
}

.sidebar .sticky-top {
  top: 82px;
  z-index: 4;
}

.modal-content {
  border-radius: 16px;
}
.modal-header {
  border-bottom: 0.8px soild oklch(0.967 0.003 264.542);
}

.modal-footer {
  border: none;
}
.modal-body {
  scrollbar-width: none;
}
.modal-body .image {
  width: 96px;
  height: 96px;
}

.contact-card .image {
  width: 56px;
  height: 56px;
}

.default-image {
  background: linear-gradient(
    to right bottom,
    oklch(0.707 0.165 254.624) 0%,
    oklch(0.546 0.245 262.881) 100%
  );
}
.contact-card {
  border: 0.8px solid rgb(243, 244, 246);
  border-radius: 16px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.1) 0px 1px 2px -1px;
  transition: 0.2s;
}
.contact-card:hover {
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px,
    rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.1) 0px 4px 6px -4px;
}
.bottom-card {
  background-color: #fafbfc;
  border-top: 0.8px solid rgb(243, 244, 246);
}

.contact-card .phone-icon {
  width: 24px;
  height: 24px;
  background-color: #dbeafe;
}
.contact-card .bottom-card .phone-icon {
  width: 36px;
  height: 36px;
  background-color: rgb(236, 253, 245);
  transition: 0.2s;
}
.contact-card .bottom-card .phone-icon i {
  font-size: 14px;
  color: rgb(0, 153, 102);
}
.contact-card .bottom-card .phone-icon:hover {
  background-color: #d0fae5;
}
.contact-card .email-icon {
  width: 24px;
  height: 24px;
  background-color: #ede9fe;
}
.contact-card .bottom-card .email-icon {
  width: 36px;
  height: 36px;
  background-color: #f5f3ff;
  transition: 0.2s;
}
.contact-card .bottom-card .email-icon i {
  font-size: 14px;
}
.contact-card .bottom-card .email-icon:hover {
  background-color: #ede9fe;
  i {
    color: #ffb900;
  }
}
.contact-card .location-icon {
  width: 24px;
  height: 24px;
  background-color: #d0fae5;
}
.contact-card .location-icon i {
  font-size: 9px;
  color: #009966;
}
.contact-card .phone-icon i {
  font-size: 9px;
  color: rgb(21, 93, 251);
}

.contact-card .email-icon i {
  font-size: 9px;
  color: #7f22fe;
}

.transition-02 {
  transition: 0.2s;
}
.contact-card .bottom-card button.transition-02 {
  background-color: transparent;
  width: 36px;
  height: 36px;
}
.contact-card .bottom-card button.transition-02:hover {
  background-color: #f3f4f6;
  .fa-star {
    color: rgb(247, 210, 0);
  }
  .fa-heart {
    color: #ff2056;
  }
  .fa-pen {
    color: #4f39f6;
  }
  .fa-trash {
    color: #ec003f;
  }
}

.modal-body .top-body label {
  background-color: oklch(0.967 0.003 264.542);
  padding: 8px 16px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
}

.required-star {
  color: oklch(0.645 0.246 16.439);
}

.modal-body .form-control,
.modal-body .form-select {
  padding: 12px 16px;
}

textarea {
  resize: none;
}

.modal-body input[type="checkbox"] {
  width: 20px;
  height: 20px;
}

.modal-body .fa-star {
  color: #ffb900;
}
.modal-body .fa-heart-pulse {
  color: #ff2056;
}

.checkboxspan {
  font-size: 14px;
}

.cursor-pointer {
  cursor: pointer;
}

.rounded-24px {
  border-radius: 24px;
}
.selected-group {
  font-size: 11px;
  padding: 4px 8px;
  border-radius: 6px;
  font-weight: 500;
}
.work-select {
  background-color: #f3e8ff;
  color: rgb(130, 0, 219);
}
.school-select {
  background-color: oklch(0.962 0.059 95.617);
  color: oklch(0.555 0.163 48.998);
}
.family-select {
  background-color: oklch(0.932 0.032 255.585);
  color: oklch(0.488 0.243 264.376);
}
.friend-select {
  background-color: oklch(0.962 0.044 156.743);
  color: oklch(0.527 0.154 150.069);
}
.other-select {
  background-color: oklch(0.967 0.003 264.542);
  color: oklch(0.373 0.034 259.733);
}
.favorite-body,
.emergency-body {
  padding: 12px;
  max-height: 320px;
  overflow: auto;
  scrollbar-width: none;
}
.favorite-body .image,
.emergency-body .image {
  width: 40px;
  height: 40px;
  border-radius: 8px;
}

.favorite-body .phone-number,
.emergency-body .phone-number {
  font-size: 12px;
  color: rgb(106, 114, 130);
}

.favorite-body .fav-cont,
.emergency-body .emergency-cont {
  background-color: oklch(0.985 0.002 247.839);
  border-radius: 12px;
  padding: 10px;
  transition: 0.2s;
}
.favorite-body .fav-cont:hover {
  background-color: #fffbeb;
  .phone-icon {
    background-color: #00bc7d;
    color: white;
  }
}
.emergency-body .emergency-cont:hover {
  background-color: #fff1f2;
  .phone-icon {
    background-color: #ff2056;
    color: white;
  }
}

.favorite-body .phone-icon {
  color: rgb(0, 153, 102);
  background-color: rgb(208, 250, 229);
  width: 32px;
  height: 32px;
  border-radius: 12px;
  transition: 0.2s;
}
.emergency-body .phone-icon {
  color: rgb(236, 0, 63);
  background-color: rgb(255, 228, 230);
  width: 32px;
  height: 32px;
  border-radius: 12px;
  transition: 0.2s;
}

.swal-modal .swal-footer {
  display: flex;
  justify-content: center;
  flex-direction: row-reverse;
  font-size: 16px;
}
.swal-modal .swal-button--confirm {
  background-color: #c62222;
  padding-block: 10px;
  font-size: 16px;
  border-radius: 4px;
}
.swal-modal .swal-button--cancel {
  padding-block: 10px;
  font-size: 16px;
  border-radius: 4px;
}
.swal-modal .swal-text{
  text-align: center;
}

.invalid-text{
  color: oklch(0.645 0.246 16.439);
  font-size: 12px;
  margin-top: 6px;
}

